<!-- Start Intern Card -->
    
    <div class="col-lg-4 col-md-8 col-sm-12 my-1">

        <div class="card mw-100 mh-100">

            <div class="card-header">
            
                <h4>{{ name }}</h4>

                <h5>{{ type }}</h5>

            </div>

            <!-- save to insert img for role -->
            <!-- <img src="..." class="card-img-top" alt="..."> -->

            <div class="card-body">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">ID: {{ id }}</li>
                    <li class="list-group-item">Email: {{ email }}</li>
                    <li class="list-group-item">School: {{ school }}</li>
                </ul>

            </div>

            <!-- save to expand data on card -->
            <!-- 

            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
            </div>  
            -->

        <!-- End Card -->
        </div>

    <!-- End Col -->
    </div>
<!-- End Intern Card -->
