<!-- Start Engineer Card -->
    
    <div class="col-sm-4 col-md-4 col-lg-4 centered">

        <div class="card mw-100 mh-100">

            <div class="card-header">

                <h4>{{ name }}</h4>

                <h5>{{ type }}</h5>
            
            </div>

            <!-- save to insert img for role -->
            <!-- <img src="..." class="card-img-top" alt="..."> -->

            <div class="card-body">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item" id="id">ID: {{ id }}</li>
                    <li class="list-group-item" id="email">Email: <a href="mailto:{{email}}">{{ email }}</a></li>
                    <li class="list-group-item" id="username">GitHub Username: <a href="https://github.com/{{ username }}" target="_blank">{{ username }}</a></li>
                </ul>

            </div>

            <!-- save to expand data on card -->
            <!-- 
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
            </div>  
            -->

        <!-- End Card -->
        </div>

    <!-- End Col -->
    </div>
<!-- End Engineer Card -->
