<!-- * In your HTML template files, you may want to add a placeholder character that helps your program identify where the dynamic markup begins and ends. -->

<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">

    <!--Bootstrap Meta "Viewport" HTML-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Team Sprite: Roster</title>

    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Local Portfolio Stylesheet-->
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/style.css"> -->


    <style>

        body {
            background-image: url(../assets/images/seigaiha.png);
        }
        h1, h2, h3, h4, h5  {
            color: whitesmoke;
        }
        .card-header {
            background-color:#D28140;
        }
        .card-body {
            background-color: #EEEEEE;
        }
        .navbar, footer {
            color: whitesmoke;
            background-color: #495F75;
        }
        footer {
            position: absolute;
            width: 100%;
            bottom: 0px;
        }

    </style>
    
</head>

<!-- background="assets/images/seigaiha.png" -->
<body>

    <!--Start Navbar-->
    <nav class="navbar p-0 justify-content-center navbar-light" role="navigation">

        <!-- p-sm-3 p-md-3 p-lg-3 px-5 py-3 -->
        <a class="navbar-brand px-5 py-3" style="color:#ffffff" href="index.html"><h2>Team Page</h2></a>

        <!-- Start main navigation links -->
        <div class="navbar">
            <!-- <a class="nav-link" href="">About</a> 
            <a class="nav-link" href="#">|</a>
            <a class="nav-link" href="">Portfolio</a><a class="nav-link" href="#">|</a>
            <a class="nav-link" href="">Contact</a>
     -->
        </div>
        <!-- End main navigation links-->    

    </nav> 
    <!-- End Navbar -->

     <!-- Start Container-->
     <div class="container">
         
        <!-- Start Wrapper -->
        <!-- class wrapper my-lg-5 my-md-5 my-sm-2 -->
        <div class="wrapper my-5">

            <!-- Start Row -->
            <div class="row">



                <!-- Start Engineer Card -->
                <!-- col class col-md-6 col-sm-12 my-1 -->
                <div class="col-lg-4">

                    <!-- class bg-white text-white -->
                    <!-- class card mw-100 mh-100 -->
                    <div class="card card-hov" style="width: 18rem;" >

                        <div class="card-header">
                            <!-- <h4>Name</h4> -->
                            <h4>Sarah {{ name }}</h4>

                            <!-- <h5>Role</h5> -->
                            <h5>Engineer</h5>
                        </div>

                        <!-- <img src="..." class="card-img-top" alt="..."> -->

                        <div class="card-body">

                            <!-- <h5 class="card-title">Engineer</h5> -->

                            <!-- <p class="card-text">Draft text</p> -->

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">ID: Number</li>
                                <li class="list-group-item">Email: Email address</li>
                            </ul>

                        </div>

                        <!-- 

                        <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                        </div>  

                            -->

                    <!-- End Card -->
                    </div>

                <!-- End Col -->
                </div>
                <!-- End Engineer Card -->



            </div>
            <!-- End Row -->

        </div> 
        <!-- Ends Wrapper -->
        
    </div> 
    <!-- Ends Container -->

    <!-- Footer -->
    <div>
    
        <footer class="footer text-center clearfix p-3">Page built by TeamSprite<i class="fas fa-feather-alt"></i></footer>
        
    </div>


</body>

</html>

            