<!-- Start Manager Card -->
    
    <!-- col class col-md-6 col-sm-12 my-1 -->
    <div class="col-lg-4">

        <!-- class bg-white text-white -->
        <!-- class card mw-100 mh-100 -->
        <div class="card card-hov" style="width: 18rem;" >

            <div class="card-header">
                <!-- <h4>Name</h4> -->
                <h4>{{ name }}</h4>

                <!-- <h5>Role</h5> -->
                <h5>{{ type }}</h5>
            </div>

            <!-- <img src="..." class="card-img-top" alt="..."> -->

            <div class="card-body">

                <!-- <h5 class="card-title">Engineer</h5> -->

                <!-- <p class="card-text">Draft text</p> -->

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">ID: {{ id }}</li>
                    <li class="list-group-item">Email: {{ email }}</li>
                    <li class="list-group-item">Office Number: {{ officenumber }}</li>
                </ul>

            </div>

            <!-- 

            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>  

            -->

        <!-- End Card -->
        </div>

    <!-- End Col -->
    </div>
<!-- End Manager Card -->
